@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=+NeuBebase&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    display: grid;
    justify-content: center;
    background-color: #1c1e22;
    align-items: center;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #1c1e22;
    display: flex;
    /* let's align the items so everything is nice and centered */
    align-items: center;
    margin: 0px;
}

/* We want all links in the navbar to be #e7e7e7 */
.navbar a {
    color: #ffffff;
    font-family: Rubik;
}

.navbar ul {
    /* Let's reset the margin and padding of the list so it's is flush. */
    margin: 0;
    padding: 0;
    /* Let's remove the bullet points */
    list-style-type: none;
    /* display the list flex and align the items centered */
    display: flex;
    align-items: left;
}

.navbar .brand {
    /*Let's make the anchor display block.
     This will ensure when we get the full width of the container.
  */
    display: block;
    color: #ffffff;
    /* Remove padding from top/bottom and add 24px padding right/left */
    padding: 10px 90px;
    font-size: 24px;
    font-family: Righteous;
}

.navbar ul li a {
    color: #ffffff;
    padding: 20px;
    /*Let's make the anchor display block.
     This will ensure when we hover, focus, or is active we get the full width and height 
      of the container.
  */
    display: block;
    transition: 0.5s;
}

/* When a use hovers or focuses a link change the background */
.navbar ul a:hover,
.navbar ul a:focus {
    filter: blur(1px);
    transition: 0.5s;
    border-radius: 2px;
    box-shadow: rgb(0, 0, 0) 1px -2px 11px;
    margin: 10px;
}

h1 {
    color: white;
    font-family: Raleway;
    align-items: center;
    margin: 20px;
    padding: 50px;
    font-size: 48px;
    width: 400px;
    transform: translate(-70%, 60%);
}

.submit-button {
    font-family: "Righteous", sans-serif;
    background-color: #1c1e22;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    transform: translate(-160%, 170%);
    display: grid;
    align-items: left;
    justify-content: left;
    width: 170px;
}

.submit-button:hover {
    background-color: #dcfffc;
    color: black;
    box-shadow: 7.7px 15.4px 15.4px hsla(206, 19%, 60%, 0.26),
        0 0 32px #dcfffc;
}

.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1c1e22;
    transform: translate(-76%, 300%);
}

.glitch {
    position: center;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 6px;
    animation: shift 6s ease-in-out infinite alternate;
    z-index: 1;
    font-family: Raleway;
}

.glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    text-shadow: -1px 0 #4df300;
    width: 100%;
    color: #fff;
    background-color: #222;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    text-shadow: 1px 0 #ff00ff;
    width: 100%;
    color: #fff;
    background-color: #222;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
    0% {
        clip: rect(61px, 9999px, 52px, 0);
    }

    5% {
        clip: rect(33px, 9999px, 144px, 0);
    }

    10% {
        clip: rect(121px, 9999px, 115px, 0);
    }

    15% {
        clip: rect(144px, 9999px, 162px, 0);
    }

    20% {
        clip: rect(62px, 9999px, 180px, 0);
    }

    25% {
        clip: rect(34px, 9999px, 42px, 0);
    }

    30% {
        clip: rect(147px, 9999px, 179px, 0);
    }

    35% {
        clip: rect(99px, 9999px, 63px, 0);
    }

    40% {
        clip: rect(188px, 9999px, 122px, 0);
    }

    45% {
        clip: rect(154px, 9999px, 14px, 0);
    }

    50% {
        clip: rect(63px, 9999px, 37px, 0);
    }

    55% {
        clip: rect(161px, 9999px, 147px, 0);
    }

    60% {
        clip: rect(109px, 9999px, 175px, 0);
    }

    65% {
        clip: rect(157px, 9999px, 88px, 0);
    }

    70% {
        clip: rect(173px, 9999px, 131px, 0);
    }

    75% {
        clip: rect(62px, 9999px, 70px, 0);
    }

    80% {
        clip: rect(24px, 9999px, 153px, 0);
    }

    85% {
        clip: rect(138px, 9999px, 40px, 0);
    }

    90% {
        clip: rect(79px, 9999px, 136px, 0);
    }

    95% {
        clip: rect(25px, 9999px, 34px, 0);
    }

    100% {
        clip: rect(173px, 9999px, 166px, 0);
    }
}

@keyframes noise-after {
    0% {
        clip: rect(26px, 9999px, 33px, 0);
    }

    5% {
        clip: rect(140px, 9999px, 198px, 0);
    }

    10% {
        clip: rect(184px, 9999px, 89px, 0);
    }

    15% {
        clip: rect(121px, 9999px, 6px, 0);
    }

    20% {
        clip: rect(181px, 9999px, 99px, 0);
    }

    25% {
        clip: rect(154px, 9999px, 133px, 0);
    }

    30% {
        clip: rect(134px, 9999px, 169px, 0);
    }

    35% {
        clip: rect(26px, 9999px, 187px, 0);
    }

    40% {
        clip: rect(147px, 9999px, 137px, 0);
    }

    45% {
        clip: rect(31px, 9999px, 52px, 0);
    }

    50% {
        clip: rect(191px, 9999px, 109px, 0);
    }

    55% {
        clip: rect(74px, 9999px, 54px, 0);
    }

    60% {
        clip: rect(145px, 9999px, 75px, 0);
    }

    65% {
        clip: rect(153px, 9999px, 198px, 0);
    }

    70% {
        clip: rect(99px, 9999px, 136px, 0);
    }

    75% {
        clip: rect(118px, 9999px, 192px, 0);
    }

    80% {
        clip: rect(1px, 9999px, 83px, 0);
    }

    85% {
        clip: rect(145px, 9999px, 98px, 0);
    }

    90% {
        clip: rect(121px, 9999px, 154px, 0);
    }

    95% {
        clip: rect(156px, 9999px, 44px, 0);
    }

    100% {
        clip: rect(67px, 9999px, 122px, 0);
    }
}

@keyframes shift {

    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        transform: skewX(0deg);
    }

    41% {
        transform: skewX(10deg);
    }

    42% {
        transform: skewX(-10deg);
    }

    59% {
        transform: skewX(40deg) skewY(10deg);
    }

    60% {
        transform: skewX(-40deg) skewY(-10deg);
    }

    63% {
        transform: skewX(10deg) skewY(-5deg);
    }

    70% {
        transform: skewX(-50deg) skewY(-20deg);
    }

    71% {
        transform: skewX(10deg) skewY(-10deg);
    }
}

.container {
    color: white;
    font-family: "Righteous", sans-serif;
    transform: translate(-40%, 330%);
}